.user-component{
    justify-content: space-between;
}

.user-component, /* user-componenet는 2개의 컬럼을 가진 div다 */
.user-component__column:first-child {
    display: flex;
    align-items: center;
    
}

.user-component__avatar {
    width:70px;
    height:70px;
    border-radius: 30px;
    margin-right:20px;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle {
    margin-top:8px;
    font-size: 17px;
    color:rgba(0,0,0,0.5);
    position: relative;
}

.user-component__avatar--xl { /*유저 컴포터는 아바타는 동일하지만 클래스를 하나 xl 이미지 크기 추가 떄문에 넓이와 높이를 더줬다 */
    width:80px;
    height:80px;
}

.user-component__avatar--sm {
    width:60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__column:last-child {
    color:rgba(0,0,0,0.4);
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__time {
    margin-bottom: 10px;
    display: block;
}

/*.user-component__subtitle span {
    background-color:rgba(0,0,0,0.5);
    color:tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:30px;
    height:30px;
    border-radius: 15px;
    position: absolute;
}
*/